/* filename: about.css

author: Sean Cummings

created: 09/09/2025

last modified: 09/09/2025

description: css applies to the about page. */

table, th, td {
    border: 0.1em solid #775253;
    border-radius: 0.2em;
    padding: 0.5rem;
    text-align: center; 
}

table {
    border-radius: 1em;
}

caption {
    text-decoration:underline
}

#about-us {
    text-align: center;
    font-size: 3rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 4rem;
}

th, #name{
    font-size: larger;
}

caption{
    font-size: x-large;
}

#we-are-jarvisscript{
    padding-left: 2rem;
}

caption, td{
    padding: 0.5rem;
}

div {
    float: right;
    padding-right: 2.5%;
}

figure{
    float:left;
    border: solid #775253;
    border-radius: 1em;
    padding-left: 2.5%;
}

#facts {
    float:right;
    padding-right: 2.5%
}

#members{
    border: solid #775253;
    border-radius: 1em;
    padding-left: 2.5%;
}
