/*

filename: apply.css

author: Krishan Gurdon

created: 09/09/2025

last modified: 09/09/2025

description: CSS styling specific to the apply page. This should not change any universal styles from the universal.css file.

*/

