/*

filename: jobs.css

author: Redmond Anthony-Harvey-Beavis

created: 11/09/2025

last modified: 26/09/2025

description: css for the jobs page 

*/

.container {
    display: grid;
    grid-template-columns: 1fr; /* single column now */
    grid-template-rows: auto auto; /* rows adjust automatically */
    gap: 10px; /* spacing between elements */
}

.us {
    text-align: center;
    color: #BDC696;
    grid-column: 1 / 2; /* spans the only column */
    padding: 10px;
    font-size: 20px;
}

.job {
    border: solid #775253;
    border-radius: 1rem;
    color: #BDC696;
    grid-column: 1 / 2; /* full width */
    padding: 10px;
}

.images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    margin: 10px 0;
}

.image-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #BDC696;
}

.icon-label {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-size: 11px;
    opacity: 0.7;
    margin-top: 3px;
}

.value {
    font-size: 14px;
    margin-top: 5px;
}

.overview, .requirements {
    border-style: hidden;
    padding: 0 75px;
}

ul {
    text-align: left;
    list-style-type: none;
}

h2 {
    scroll-margin: 100px;
}
